#### Instalando a biblioteca PANDAS

In [3]:
# Instala o pacote pandas
!pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fic\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\fic\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

#### Importação da biblioteca

In [4]:
# Carrega a bibliote 
import pandas as pd

#### Verificar a versão do pandas

In [5]:
# Checa a versão do pandas
print(pd.__version__)

2.1.1

#### Estruturas de dados 
Series = É um tipo de array (lista) unidimencional

DataFrame = É um tipo de tabela composta por linhas e colunas

#### O que são séries?

Uma série em Pandas é como uma coluna de uma tabela.
É uma matriz unidimensional que contém dados de qualquer tipo. Podemos usar
a função pd.Series() para criar uma série

In [6]:
idades = pd.Series([15,20,30,40,50,60])

print(idades)
print(type(idades))

0    15
1    20
2    30
3    40
4    50
5    60
dtype: int64
<class 'pandas.core.series.Series'>

#### Acessando os elementos através do índice

Se nada mais for especificado, os valores serão rotulados com seu número de
índice. O primeiro valor tem índice 0, o segundo valor tem índice 1 etc.
Este rótulo pode ser usado para acessar um valor especificado.

In [7]:
# Acessando o primeiro elemento
idades[0]

15

#### Criando seus próprios índices

Com o index argumento, você pode nomear seus próprios rótulos.

In [8]:
# Criando uma nova lista

a = [1,7,2]

# Criar uma Series em função da Lista com índices personalizados
mySeries = pd.Series(a, index=['A','B','C'])
print(mySeries)

A    1
B    7
C    2
dtype: int64

#### Exemplo

In [9]:
# Ciando um lista para ser utilizada no índice
indice = ['Ana','João','Maria','Jorge','Rose','Gabriela']

# Criar uma lista para ser utilizada nos valores da Series
notas = [ 10 , 9 , 8 , 5 , 10 , 9 ]

# Criar uma Series com lista notas e com o 
# índice de acordo com  a lista index
notasFinais = pd.Series(notas, index=indice)
print(notasFinais)

Ana         10
João         9
Maria        8
Jorge        5
Rose        10
Gabriela     9
dtype: int64

In [10]:
# Retornando apenas os índices
notasFinais.index

Index(['Ana', 'João', 'Maria', 'Jorge', 'Rose', 'Gabriela'], dtype='object')

In [11]:
# Retornando apenas os valores
notasFinais.values

array([10,  9,  8,  5, 10,  9], dtype=int64)

#### OBJETOS CHAVE(Dicionários)/VALOR COMO SERIES

In [12]:
# Criando um dicionário
calorias = {
    'day1': 420,
    'day2': 380,
    'day3': 390
}
# Criando uma Series em função de um dicionário
myList = pd.Series(calorias)

print(myList)

day1    420
day2    380
day3    390
dtype: int64

#### O QUE É UM DATAFRAME?

Um Pandas DataFrame é uma estrutura de dados bidimensional, como um array
bidimensional ou uma tabela com linhas e colunas.

Exemplo: Crie um DataFrame simples do Pandas:

In [13]:
# Importando biblioteca
import pandas as pd
# Criando um dicionário
data = {
    'calories': [420, 380, 390],
    'duration': [50, 40, 45]
}

# Para inserir um dicionário em um Dataframe
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

A biblioteca Pandas é capaz de ler diversos tipos de arquivos, com uma sintaxe
simples. Dentre os tipos de arquivos que podemos ler com o Pandas, temos:

• read_table
• read_csv
• read_excel
• read_hdf
• read_sql
• read_json
• read_html
• read_stata
• read_sas

In [15]:
# Importar as bibliotecas
import pandas as pd

# Mapear o diretório do documento

caminho = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\ArquivosAnálise\\'
arquivo = 'bank-full.xlsx'

# Carregar um arquivo para um dataframe

df = pd.read_excel(caminho + arquivo, sheet_name='Sheet 1 - bank-full')

In [16]:
# Exibindo os dados do dataframe
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other