#### Exercício 04 – Criando relatórios em função do arquivo dados-vendas.xlsx

In [32]:
import pandas as pd

# Mapear o caminho e o nome do arquivo navegando entre diretório
caminho = '../ArquivosAnálise/dados-vendas.xlsx'

df = pd.read_excel(caminho)

# Retornando apenas uma linha do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID-Produto   457 non-null    object
 1   Produto      457 non-null    object
 2   Categoria    457 non-null    object
 3   Segmento     457 non-null    object
 4   Fabricante   457 non-null    object
 5   Loja         457 non-null    object
 6   Cidade       457 non-null    object
 7   Estado       457 non-null    object
 8   Vendedor     457 non-null    object
 9   ID-Vendedor  457 non-null    int64
 10  Data Venda   457 non-null    datetime64[ns]
 11  ValorVenda   457 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 43.0+ KB

#### Dividir a planilha em 04

In [21]:
# Gerar a tabela FATO com os campos ID-PRODUTO
# ID-LOJA, ID-VENDEDOR, DATA VENDA e ValorVenda

tbl_fato = df.loc[:,['ID-Produto','Loja','ID-Vendedor','Data Venda','ValorVenda']]

tbl_fato

      ID-Produto    Loja  ID-Vendedor Data Venda  ValorVenda
0    SKU-0000001  SP8821         1009 2012-10-04      679.00
1    SKU-0000002  SP8821         1006 2012-01-01      832.00
2    SKU-0000003  SP8821         1006 2012-02-02      790.00
3    SKU-0000004  SP8821         1003 2012-03-03      765.32
4    SKU-0000005  SP8821         1004 2012-04-04      459.89
..           ...     ...          ...        ...         ...
452  SKU-0000453   R1295         1002 2015-09-23     1234.00
453  SKU-0000454   R1295         1002 2015-10-24     1234.00
454  SKU-0000455   R1295         1008 2015-11-25     1230.00
455  SKU-0000456   R1295         1002 2015-11-26     1234.00
456  SKU-0000457   R1295         1002 2015-11-27     1234.00

[457 rows x 5 columns]

In [22]:
# Renomenado as colunas 
tbl_fato = tbl_fato.rename(columns={'Loja':'ID-Loja','Data Venda':'Data'})
# Utilizando caminho relativo
caminhoFinal = '../relatorio-exercicio-04/tabela_fato/tbl_fato.xlsx'
# Gerando um arquivo Excel
tbl_fato.to_excel(caminhoFinal)

#### Gerando a tabela Produto

In [23]:
tabela_produto = df.loc[:,['ID-Produto','Produto','Categoria','Segmento','Fabricante']]

tabela_produto.head()

    ID-Produto           Produto         Categoria     Segmento  Fabricante
0  SKU-0000001   LG K10 TV Power         Celulares  Corporativo          LG
1  SKU-0000002  Geladeira Duplex  Eletrodomésticos    Doméstico    Brastemp
2  SKU-0000003    Lavadora 11 Kg  Eletrodomésticos    Doméstico    Brastemp
3  SKU-0000004    Lavadora 11 Kg  Eletrodomésticos    Doméstico    Brastemp
4  SKU-0000005    Lavadora 11 Kg  Eletrodomésticos    Doméstico  Electrolux

In [24]:
# Gerando o caminho o será armazenado a tabela PRODUTO

caminhoFinal = '../relatorio-exercicio-04/tabela_produto/tabela_produto.xlsx'

tabela_produto.to_excel(caminhoFinal)

#### Gerando a tabela Loja

In [25]:
tabela_loja = df.loc[:,['Loja','Cidade','Estado']]

tabela_loja = tabela_loja.drop_duplicates()

tabela_loja

       Loja          Cidade          Estado
0    SP8821       São Paulo       São Paulo
7     A9990  Belo Horizonte    Minas Gerais
32   SP8823       São Paulo       São Paulo
39    R1296  Rio de Janeiro  Rio de Janeiro
41    V7654         Vitória  Espírito Santo
87    P0761        Cascavel          Paraná
88   SA7761        Salvador           Bahia
103  SP8822       São Paulo       São Paulo
170   S6543          Osasco       São Paulo
173   B7659        Campinas       São Paulo
290   A9991  Belo Horizonte    Minas Gerais
324   R1298          Campos  Rio de Janeiro
345   R1295  Rio de Janeiro  Rio de Janeiro
349   R1297      Petrópolis  Rio de Janeiro

In [26]:
# Gerando o caminho para a tabela Loja

caminhoFinal = '../relatorio-exercicio-04/tabela_loja/tabela_loja.xlsx'

tabela_loja.to_excel(caminhoFinal,index=False)

#### Gerando a tabela VENDEDOR

In [27]:
tabela_vendedor = df.loc[:,['ID-Vendedor','Vendedor']]
# Tirando a duplicata de informações
tabela_vendedor = tabela_vendedor.drop_duplicates()

In [29]:
# Criando o caminho
caminhoFinal = '../relatorio-exercicio-04/tabela_vendedor/tabela_vendedor.xlsx'
# Gerando o arquivo
tabela_vendedor.to_excel(caminhoFinal,index=False)

In [34]:
#Importando a biblioteca pandas
import pandas as pd
#Trazendo o caminho criado na aula passada para dar continuidade no exercício
path = '../relatorio-exercicio-04/relatorio-vendedores/'

file = '../ArquivosAnálise/dados-vendas.xlsx'

dados = pd.read_excel(file)
# Vizualizando o cabeçalho do datafra
dados.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

#### Crie um dataframe chamado df_vendedores, para atribuir valores a ele você  deve  selecionar  apenas  a  coluna  Vendedores  e  remover  as duplicadas do mesmo. Confirme se realmente o comando removeu as duplicadas.

In [40]:
df_vendedores = dados['Vendedor'].drop_duplicates()

# Convertendo o df_vendedores em lista
listaVendedores = df_vendedores.to_list()

# Gerar os arquivos automaticamente
for vendedor in listaVendedores:
    df_final = dados[dados['Vendedor'] == vendedor]

     # Maperar o caminho final do arquivo
    caminho = '../relatorio-exercicio-04/relatorio-vendedores/'
    arquivo = vendedor + '.xlsx'
    
    # Salvando o arquivo em um documento
    df_final.to_excel(caminho + arquivo)

#### Criar dataframe Categoria, onde foi retirado as duplicadas e transformados em lista e depois percorrido por um laço de repetição, onde gerou um relatório automatico.

In [50]:
df_categoria = dados['Categoria'].drop_duplicates()

# Convertendo o df_categoria em lista
listaCategoria = df_categoria.to_list()

for categoria in listaCategoria:
    df_final = dados[dados['Categoria'] == categoria]

    caminho = '../relatorio-exercicio-04/relatorio-categoria/'
    arquivo = categoria + '.xlsx'

    df_final.to_excel(caminho + arquivo)

#### Criar dataframe Segmento, onde foi retirado as duplicadas e transformados em lista e depois percorrido por um laço de repetição, onde gerou um relatório automatico.

In [51]:
df_segmento = dados['Segmento'].drop_duplicates()

In [52]:
listaSegmento = df_segmento.to_list()

In [53]:
for segmento in listaSegmento:
    df_final = dados[dados['Segmento'] == segmento]

    caminho = '../relatorio-exercicio-04/relatorio-segmento/'
    arquivo = segmento + '.xlsx'

    df_final.to_excel( caminho + arquivo)

#### Criar dataframe Fabricante, onde foi retirado as duplicadas e transformados em lista e depois percorrido por um laço de repetição, onde gerou um relatório automatico.

In [54]:
df_fabricante = dados['Fabricante'].drop_duplicates()

In [55]:
listaFabricante = df_fabricante.to_list()

In [56]:
for fabricante in listaFabricante:
    df_final = dados[dados['Fabricante'] == fabricante]

    caminho = '../relatorio-exercicio-04/relatorio-fabricante/'
    arquivo  = fabricante + '.xlsx'

    df_final.to_excel( caminho + arquivo)

#### Criar dataframe Cidade, onde foi retirado as duplicadas e transformados em lista e depois percorrido por um laço de repetição, onde gerou um relatório automatico.

In [57]:
df_cidade = dados['Cidade'].drop_duplicates()

In [58]:
listaCidade = df_cidade.to_list()

In [59]:
for cidade in listaCidade:
    df_final = dados[dados['Cidade'] == cidade]

    caminho = '../relatorio-exercicio-04/relatorio-cidade/'
    arquivo = cidade + '.xlsx'

    df_final.to_excel(caminho + arquivo)

#### Criar dataframe Estado, onde foi retirado as duplicadas e transformados em lista e depois percorrido por um laço de repetição, onde gerou um relatório automatico.

In [60]:
df_estado = dados['Estado'].drop_duplicates()

In [61]:
listaEstado = df_estado.to_list()

In [ ]:
for estado in listaEstado:
    df_final = dados[dados['Estado'] == estado]

    caminho = '../relatorio-exercicio-04/relatorio-estado/'
    arquivo = estado + '.xlsx'

    df_estado.to_excel(caminho + arquivo)