In [47]:
import pandas as pd

#### Abra o arquivo world_happiness_report_2015.csv e o aloque em um dataframe.

In [48]:
caminho = 'C:\\fundamentos-Big-data-SENAI-Python\\ArquivosAnálise\\'
arquivo = 'world_happiness_report_2015.csv'

In [49]:
df = pd.read_csv(caminho + arquivo)

#### Verifique o cabeçalho e o final do dataframe.

In [50]:
df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### Comando para vizualizar o final do DataFrame

In [51]:
df.tail()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

#### Quais as colunas desse dataframe?

In [52]:
df

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

#### Quais os tipos de dados temos no dataframe?

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        164 non-null    object
 1   region                         164 non-null    object
 2   happiness rank                 164 non-null    int64
 3   happiness score                156 non-null    float64
 4   standard error                 163 non-null    float64
 5   economy (GDP per Capita)       164 non-null    float64
 6   family                         164 non-null    float64
 7   health (Life Expectancy)       164 non-null    float64
 8   freedom                        164 non-null    float64
 9   trust (Government Corruption)  164 non-null    float64
 10  generosity                     164 non-null    float64
 11  dystopia residual              150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

#### Há valores faltantes ou nulos? Em quais colunas?

In [54]:
df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### Renomeie as variáveis como segue:

In [55]:
df.columns = [
    'country','region','rank_felicidade','score_felicidade','statnd_erro','PIB',
    'family','expect_vida','freedom','corrupcao','generosity','dystopia residual'
]

df.head()

,country,region,rank_felicidade,score_felicidade,statnd_erro,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### Exercícios 02
Mamipulando dados com Pandas
a Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx 
b e coloque em um dataframe. 
c Visualize o cabeçalho dos dados; 
d Visualize as últimas linhas; 
e Escreva um programa para renomear o cabeçalho da tabela com os 
f seguintes nomes:

In [76]:
# Importando a biblioteca 
import pandas as pd

# Mapear o caminho e o nome do arquivo
caminho = 'C:\\fundamentos-Big-data-SENAI-Python\\ArquivosAnálise\\'
arquivo = 'Imobiliária'

# Abrir o documento e inserir em um dataframe

tabela = pd.read_excel( caminho + arquivo,sheet_name='Base')

# Visualizar o cabeçalho do dataframe
tabela.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\fundamentos-Big-data-SENAI-Python\\ArquivosAnálise\\Imobiliária'

##### Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [ ]:
# Renomeando as colunas com o comando columns
tabela.columns = ['Filial','Vendedor','Data','Tipo','area','Dorms','Garag','Piscina','Preco','Comissao']

tabela.head()

,Filial,Vendedor,Data,Tipo,area,Dorms,Garag,Piscina,Preco,Comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

#### Quais são os tipos de dados que temos no dataframe?

In [ ]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   Data      1117 non-null   datetime64[ns]
 3   Tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   Dorms     1117 non-null   int64
 6   Garag     1117 non-null   int64
 7   Piscina   1117 non-null   object
 8   Preco     1117 non-null   int64
 9   Comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

#### Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [ ]:
tabela.describe()

#FUNÇÕES
print('Soma total da tabela Preco ->',tabela['Preco'].sum()) # SOMA
print('Média total da tabela Preco ->',tabela['Preco'].mean()) # MÉDIA
print('Maior valor da tabela Preco ->',tabela['Preco'].max())  # MAIOR VALOR DA COLUNA 
print('Menor valor da tabela Preco ->',tabela['Preco'].min())  # MENOR VALOR DA COLUNA
print('Quantidade de valores da tabela Preco ->',tabela['Preco'].count()) # QUANTIDADE DE VALORES DA COLUNA

Soma total da tabela Preco -> 295035000
Média total da tabela Preco -> 264131.6025067144
Maior valor da tabela Preco -> 384300
Menor valor da tabela Preco -> 145100
Quantidade de valores da tabela Preco -> 1117

#### 8. Crie um programa para criar um dataframe para mostrar as vendas por região, e salvar um arquivo em Excel para cada região.

In [79]:
# Criar um relatótio para mostrar as vendas da região CENTRO

df_final = tabela[tabela['Filial'] == 'Centro']

# Salvar em diretório específico
caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-centro.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='Centro', index=False)

NameError: name 'tabela' is not defined

In [ ]:
df_final = tabela[tabela['Filial'] == 'Noroeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-noroeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='Noroeste', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Norte']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-norte.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='Norte', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Sudeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-sudeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='Sudeste', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Oeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-oeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='Oeste', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Leste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-leste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name= 'Leste', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Sudoeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-sudoeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Sudoeste', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Sul']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-sul.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Sul', index=False)

In [ ]:
df_final = tabela[tabela['Filial'] == 'Nordeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-nordeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Nordeste',index=False)

####  Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte em 2010.

In [ ]:
df_final = tabela[
                 (tabela['Filial'] == 'Norte') &
                 (tabela['Data'] >= '2010-01-01')&
                 (tabela['Data']<='2010-12-31')
                 ]

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-norte-2010.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Norte', index=False)

#### Gere  um  arquivo  em  Excel  para  representar  as  vendas  efetuadas  pela  filial Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas sem garagem.

In [ ]:
df_final = tabela[(tabela['Filial'] == 'Sudeste') &
                  (tabela['Data'] >= '2010-01-01') &
                  (tabela['Data'] <= '2010-12-31') &
                  (tabela['Tipo'] == 'Casa') &
                  (tabela['Garag'] == 0)
                  ]

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-sudeste-2010.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Sudeste', index=False)

#### Qual o valor máximo de comissão que a imobiliária numa venda?

In [ ]:
df_final = tabela[tabela['Comissao'] == max (tabela['Comissao'])]

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-maior-comissao.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Comissao', index=False)

#### Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [ ]:

df_final = tabela[(tabela['Vendedor'] == 'Ricardo') & 
                  (tabela['Data'] < '2011-01-01') & 
                  (tabela['Tipo'] == 'Casa') &
                  ((tabela['Dorms'] == 2) | (tabela['Dorms'] == 3)) 
                  ]

caminho_destino = 'C:\\Users\\FIC\\Documents\\fundamentos-Big-data-SENAI-Python\\Filiais\\'
arquivo_final = 'relatório-vendas-ricardo-2011-2ou3.xlsx'

df_final.to_excel(caminho_destino + arquivo_final,sheet_name='Ricarso', index=False)

#### Exercício 03 – Manipulando dados com Pandas

#### Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e coloque em um dataframe

In [61]:
# importando a biblioteca
import pandas as pd
# passando o caminho de onde vem o arquivo
caminho = 'C:\\fundamentos-Big-data-SENAI-Python\\ArquivosAnálise\\'
arquivo = 'Vendas.xlsx'

vendas = pd.read_excel(caminho + arquivo,sheet_name='Planilha1')

# Visualizar o cabeçalho do dataframe
vendas.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

#### Visualize as últimas linhas;

In [63]:
# Vizualizando as últimas linhas
vendas.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

#### Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [67]:
# Renomeando o cabeçalho do dataframe

vendas.columns = ['Data','Vendedor','Cargo','Cliente','UF','Vendas']

vendas.head()

        Data           Vendedor                    Cargo Cliente  UF   Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AL  3276.20
1 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AP  3005.86
2 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MA  8568.54
3 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MG  1344.27
4 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MS  7585.04

#### Quais são os tipos de dados que temos no dataframe? 
#### Há valores faltantes ou nulos?

In [68]:
vendas.info()
# Nesse datainfo exite dados do tipo:
# float;
# object (String)

# Não existe valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Cliente   130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

#### Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [69]:
vendas.describe()

              Vendas
count  130466.000000
mean     5507.194282
std      2598.113042
min      1000.010000
25%      3258.312500
50%      5509.190000
75%      7759.095000
max     10000.000000

#### Crie um programa para criar um dataframe para mostrar as vendas por cargo, e salvar um arquivo em csv para com o nome de cada cargo:

In [113]:
#nomeCargo = vendas.loc[:,['Cargo','Vendas']]  Esse é uma outra forma de selecionar colunas

nomeCargo = vendas[vendas['Cargo'] == 'Supervisor de Vendas Pl']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Supervisor de Vendas Pl.csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [114]:
nomeCargo = vendas[vendas['Cargo'] == 'Gerente Regional Jr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Gerente Regional Jr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [116]:
nomeCargo = vendas[vendas['Cargo'] == 'Supervisor de Vendas Sr']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Supervisor de Vendas Sr.csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [118]:
nomeCargo = vendas[vendas['Cargo'] == 'Coordenador de Vendas Pl.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Coordenador de Vendas Pl..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [120]:
nomeCargo = vendas[vendas['Cargo'] == 'Vendedor Jr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Vendedor Jr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [122]:
nomeCargo = vendas[vendas['Cargo'] == 'Vendedor Sr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Vendedor Sr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [124]:
nomeCargo = vendas[vendas['Cargo'] == 'Vendedor Pl.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Vendedor Pl..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [126]:
nomeCargo = vendas[vendas['Cargo'] == 'Gerente Regional Pl.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Gerente Regional Pl..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [127]:
nomeCargo = vendas[vendas['Cargo'] == 'Coordenador de Vendas Sr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Coordenador de Vendas Sr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [128]:
nomeCargo = vendas[vendas['Cargo'] == 'Coordenador de Vendas Jr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Coordenador de Vendas Jr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

In [129]:
nomeCargo = vendas[vendas['Cargo'] == 'Supervisor de Vendas Jr.']

caminho_destino = 'C:\\fundamentos-Big-data-SENAI-Python\\cadaCargo\\'
arquivo_final = 'Supervisor de Vendas Jr..csv'

nomeCargo.to_csv(caminho_destino + arquivo_final)

 #### Crie um dataframe para cada coluna, contendo dados únicos.

In [144]:
# Imprimindo a coluna Data
vendas['Data']

0        2014-01-01
1        2014-01-01
2        2014-01-01
3        2014-01-01
4        2014-01-01
            ...
130461   2016-12-31
130462   2016-12-31
130463   2016-12-31
130464   2016-12-31
130465   2016-12-31
Name: Data, Length: 130466, dtype: datetime64[ns]

In [148]:
# Imprimindo a coluna Vendedor
vendas['Vendedor']

0          Bernardo de Sousa
1          Bernardo de Sousa
2          Bernardo de Sousa
3          Bernardo de Sousa
4          Bernardo de Sousa
                 ...
130461    Liz Azevedo Santos
130462    Liz Azevedo Santos
130463    Liz Azevedo Santos
130464    Liz Azevedo Santos
130465    Liz Azevedo Santos
Name: Vendedor, Length: 130466, dtype: object

In [150]:
# Impriimindo a coluna Cargo
vendas['Cargo']

0         Supervisor de Vendas Pl
1         Supervisor de Vendas Pl
2         Supervisor de Vendas Pl
3         Supervisor de Vendas Pl
4         Supervisor de Vendas Pl
                   ...
130461               Vendedor Pl.
130462               Vendedor Pl.
130463               Vendedor Pl.
130464               Vendedor Pl.
130465               Vendedor Pl.
Name: Cargo, Length: 130466, dtype: object

In [152]:
# Imprimindo a coluna Cliente
 
vendas['Cliente']

0                   ACME
1                   ACME
2                   ACME
3                   ACME
4                   ACME
               ...
130461    Planet Express
130462    Planet Express
130463    Planet Express
130464    Planet Express
130465    Planet Express
Name: Cliente, Length: 130466, dtype: object

In [153]:
# Imprimindo a coluna UF

vendas['UF']

0         AL
1         AP
2         MA
3         MG
4         MS
          ..
130461    PI
130462    PR
130463    RO
130464    RR
130465    SC
Name: UF, Length: 130466, dtype: object

In [155]:
# Imprimindo a coluna Vendas

vendas['Vendas']

0         3276.20
1         3005.86
2         8568.54
3         1344.27
4         7585.04
           ...
130461    1829.39
130462    2378.48
130463    4488.47
130464    1543.66
130465    9820.71
Name: Vendas, Length: 130466, dtype: float64