#### Listas (list)

Tipo de dado muito importante e que é muito utilizado no dia a dia do
desenvolvedor Python!
Listas agrupam um conjunto de elementos variados, podendo conter: inteiros, floats,
strings, outras listas e outros tipos.
Elas são definidas utilizando-se colchetes para delimitar a lista e vírgulas para
separar os elementos, veja alguns exemplo abaixo:

In [4]:
alunos =  ['Amanda' , 'Ana' , 'Bruno' , 'João']
notas = [ 10 , 8.5 , 7.8 ,8.0 ]

print(type(alunos))
print(type(notas))

<class 'list'>
<class 'list'>

#### Listas (list) - Acessando itens na lista

In [5]:
# Retornar a aluna Amanda
print('A primeira posição da lista é 0: ', alunos[0])

# Retornar o aluno Bruno

print('A terceira posição da lista é 2: ', alunos[2])

# Retornar o aluno João
print('A quarta posição da lista é 3: ', alunos[3])

#  Retornar uma fatia de dados

print('Para retornar uma fatia, você deve usar a seguinte sintaxe' + 
      '\n' + 'nomeLista[posiçãoInicial:posiçãoFinal]', alunos[1:4])

A primeira posição da lista é 0:  Amanda
A terceira posição da lista é 2:  Bruno
A quarta posição da lista é 3:  João
Para retornar uma fatia, você deve usar a seguinte sintaxe
nomeLista[posiçãoInicial:posiçãoFinal] ['Ana', 'Bruno', 'João']

#### Lista (list) - Adicionar novos elementos

In [6]:
# O comando -> .append adiciona um elemento à lista
# Adicionar 02 nomes à lista alunos usando o comando 

alunos.append('Florisponfildo')
alunos.append('Jodel')

print(alunos)

['Amanda', 'Ana', 'Bruno', 'João', 'Florisponfildo', 'Jodel']

In [7]:
# Adicionar 02 valores à lista notas

notas.append(10)
notas.append(8)

print(notas)

[10, 8.5, 7.8, 8.0, 10, 8]

#### Listas (list) - Removendo um elemento de uma lista

In [8]:
# Removendo um item de acordo com o valor

alunos.remove('Jodel')
print(alunos)

['Amanda', 'Ana', 'Bruno', 'João', 'Florisponfildo']

#### Lista (list) -  Conversão para string
Já para criar uma string com todos os elementos de uma lista, podemos utilizar o
comando join():

In [12]:
listaString = ','.join(alunos)
print(listaString)

print(type(alunos))
print(type(listaString))

Amanda,Ana,Bruno,João,Florisponfildo
<class 'list'>
<class 'str'>

#### Lista (list) -  Convertendo uma lista para uma string
Ainda com strings, podemos criar uma lista a partir de uma string com o comando
split():

In [17]:
feira = 'batata ; cebola ; tomate ; laranja'

listaFeira = feira.split(';')

print(feira)
print(listaFeira)

batata ; cebola ; tomate ; laranja
['batata ', ' cebola ', ' tomate ', ' laranja']

#### Tuplas (tuple)

Assim como Lista, Tupla é um tipo que agrupa um conjunto de elementos.
Porém sua forma de definição é diferente: utilizamos parênteses e também
separado por vírgula.
A diferença para Lista é que Tuplas são imutáveis, ou seja, após sua definição, Tuplas
não podem ser modificadas.

In [4]:
# Criando TUPLAS

valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.08, 62)

# Verificando o tipo de dado

print(type(valores))
print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [7]:
# Acessando elementos da tuplas & Tratamento de erros;
try:
    valores [1] = 10

except TypeError:
    print('Não foi possível modificar uma tupla.')

Não foi possível modificar uma tupla.

#### Tuplas (tuple) - Outros exemplos

As tuplas são uma forma eficaz de usar funções para retornar múltiplos valores:

In [8]:
def sum_and_product (x, y):
    return (x + y) , (x * y)

In [12]:
# Chamando a função

resultado = sum_and_product(2 , 3)
print(resultado)

# Outro exemplo

a , b =  sum_and_product(5,10)

print(a)
print(b)

(5, 6)
15
50

#### Dicionários (dict)
Dict é um tipo de dado muito flexível do Python.
Eles são utilizados para agrupar elementos através da estrutura de chave e valor,
onde a chave é o primeiro elemento seguido por dois pontos e pelo valor.
Vamos ver alguns exemplos:

In [18]:


altura = {
    'Amanda':1.65 ,
    'Ana':1.60 ,
    'João': 1.78
}

peso = {
     'Amanda':68 ,
    'Ana': 58,
    'João': 70
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [20]:
# Adicionar um elemento ao dicionário

altura['Emanoel'] = 1.65

peso['Emanoel'] = 73

print(altura)
print(peso)

{'Amanda': 1.65, 'Ana': 1.6, 'João': 1.78, 'Emanoel': 1.65}
{'Amanda': 68, 'Ana': 58, 'João': 70, 'Emanoel': 73}